<!DOCTYPE html>
<html>
<head>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>
<style>
body {font-family: Arial;}

/* Style settings for the modal. */
.invalid_prompt_text {
  width: 570px;
  max-width: 570px;
  height: 300px;
  max-height: 300px;
  overflow: auto;
  resize: none;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.available {
  background-color: #f1f1f1;
}

</style>
</head>
<body>

  <!-- Initialize the tab with titles . -->
  <div style = "margin-bottom:10px;">
    <div class = "tab">
      <!-- Split the tabs between can view and cannot view -->
      {% for tab in tabs %}
        <button id = 'link_{{ tab[0] }}' class="tablinks available" onmouseenter="hover_over(this)" onmouseleave="hover_away(this)"
        onclick="openTab(event, '{{ tab[0] }}')">{{ tab[0] }}</button>
      {% endfor %}

    </div>

    <!-- Create a place to put content for each tab. -->
    {%for tab in tabs %}
    <div id = '{{ tab[0] }}', class="tabcontent" style = "height: 300px; overflow: auto;">
    </div>
    {% endfor %}
  </div>

  <hr>

  <script>

    /**
    * Displays the information in the tab when clicked on.
    *
    * @param evt represents what happend with the tab.
    * @param name represents which tab to open.
    */
    function openTab(evt, name) {
        var i, tabcontent, tablinks;
        var msg = "You cannot open this tab unless you submit that 'You cannot tell based on the abstract'";

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        available_links = document.getElementsByClassName("available");
        for (i = 0; i < tablinks.length; i++) {
          if (available_links[i] !== undefined) {
            available_links[i].style.background = "#f1f1f1";
          }
        }


        // change the coloring on the selected tab
        document.getElementById(name).style.display = "block";
        document.getElementById(name).style.background = "";
        document.getElementById("link_" + name).style.background = "#ccc";
        evt.currentTarget.className += " active";
    }

  </script>


  <script>

  /**
  * Used to break down a Text into a readable format (see data-definition below).
  *
  * @param orig_tab represents the parent HTML element if it exists.
  * @param text is of the following data definition:
  * Text is one of:
  *    - Array of Text
  *    - ['title', 'paragraph']
  *    - ['title', Text]
  */
  function breakDownText(text, orig_tab) {
      var copy = orig_tab;
      if (text.length != 2 || Array.isArray(text[0])) { // there are multiple sections here if this is the case
        for (var i = 0; i < text.length; i++) {
          breakDownText(text[i], orig_tab); // break each of these larger sections down
        }                                  // this is likely the beginnining with all tab headers
      } else {
        if (orig_tab === undefined) { // If there is no title for this section, make one.
          var title = text[0];
          var tab = document.getElementById(title);
          var title_element = document.createElement("h3");
          title_element.innerHTML = title;
          tab.appendChild(title_element);
          orig_tab = tab;
        }

        if (Array.isArray(text[1])) { // If there is a sub-section under this section, break it down
          breakDownText(text[1], orig_tab);
        } else { // otherwise add to it
          if (copy !== undefined) {
            var title = text[0];
            var title_element = document.createElement("h4");
            title_element.innerHTML = title;
            orig_tab.appendChild(title_element);
          }

          var text_element = document.createElement("p");
          text_element.innerHTML = text[1];
          orig_tab.appendChild(text_element);
        }
      }

    }

    // call the function
    var tab = {{ tabs|tojson }};
    breakDownText(tab);
  </script>

  <!--
  Create a row where the first component displays the reported
  outcome/comparator/intervention, and the second part asks
  the user which of these "options" is true.
  -->
  <div class = "row">
      <label style = "margin-left: 45px;">
        With respect to <b> <i> {{ outcome }}, </i> </b> characterize the
        reported difference between patients receiving <b> <i>
        {{ intervention }} </i> </b> and those receiving <b> <i> {{ comparator }}.
        </i> </b>
      </label>
  </div>

  <!-- Prompt to ask user to fill out information -->
  <div class = "container-fluid" style = "margin-left: 15px; margin-top: 5px;">
    <div class = "col-md-4">
      <label style = "margin-left: -15px; font-size: 13px;">
        <i> Please fill out the following information based on the statement above: </i>
      </label>
          <div class="row warning" id="check-warning"> </div>
          <div class="row" id = "selections">

            <!-- Establish radio buttons with the specified options from python code -->
            {% for option in options %}
            <div class="radio" >
              <label><input type="radio" id = "{{option}}" name="select" value = "{{option}}">
                {{ option }} ({{intervention}} vs. {{comparator}})
              </label>
            </div>
            {% endfor %}

            <!-- Add in extra options that are specific to this display -->
            <div class="radio">
              <label><input type="radio" id = "cannot_tell" name="select" value = "Cannot tell based on the abstract">
                Cannot tell based on the abstract
              </label>
            </div>

            <!-- Add in extra options that are specific to this display -->
            <div class="radio">
              <label><input type="radio" id = "invalid_prompt" name="select" value = "Invalid Prompt">
                Invalid Prompt
              </label>
            </div>

        </div>


      <!-- Green submit button that has a width to line up with the above drop down menu -->
      <button type="button" id= "submit-but" class="btn btn-success" style = "margin-left: -15px; margin-top: 10px; width: 440px;" disabled>
        Submit
      </button>

    </div>

    <!-- Blank space to be used later if desired -->
    <div class = "col-sm-2"> &nbsp; </div>

    <!-- Selected Text section -->
    <div class = "col-md-5">
      <div class="panel panel-default">
        <!-- Panel heading (aka title) -->
        <div class="panel-heading">
          <label> Support </label>
          <button type="button" id= "add-but" class="btn btn-default" style = "margin-left: 195px;" disabled> Add Span </button>
          <button type="button" id= "restart-but" class="btn btn-default" style = "margin-left: 5px;" disabled> Clear </button>
        </div>

        <!-- Scrollable window where selected-text is displayed -->
        <div class="panel-body" style = "height: 150px; max-height: 150px; overflow-y:scroll;">
            <div id="selected"> </div>
        </div>
      </div>
    </div>

  </div>

  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5> <b> Please explain your reasoning below: </b> </h5>
        </div>
        <div class="modal-body">
          <textarea id = "response" class = "invalid_prompt_text"> </textarea>
        </div>
        <div class="modal-footer">
          <button id = "invalid-submit-but" type="button" class="btn btn-success" disabled> Submit </button>
        </div>
      </div>

    </div>
  </div>

  <!-- Storiing the data that will be used for later saving. -->
  <div id="store">
      <p id="userid">{{ userid }}</p>
      <p id="id">{{ id }}</p>
      <p id="pid">{{ pid }}</p>
      <p id="outcome_save"> {{ outcome }} </p>
      <p id="comparator_save"> {{ comparator }} </p>
      <p id="intervention_save"> {{ intervention }} </p>
      <p id="xml_file"> {{ xml_file }} </p>
  </div>
  <script src="{{ url_for('static', filename='scripts/post.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/article.js') }}"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script>
    // For all radio buttons, add in functionality.
    var opt = {{ options|tojson }};
    opt.push("cannot_tell");
    opt.push("invalid_prompt");
    for (var o = 0; o < opt.length; o++) {
      option = opt[o];
      document.getElementById(option).onclick = list_change; // so we know when the user uses the dropdown
    }
  </script>

  <script>
    document.getElementById('link_Abstract').click();
  </script>

</body>
</html>
